<html>
    <body>
        <h1> EV Charging Traffic Status Predictor </h1>
        <form action = "/" method="post">
            <p>Please enter desired charging point X coordinate (1-100) </p>
            </p><input type = "number" name="x"></p>
            <p>Please enter desired charging point Y coordinate (1-100) </p>
            <p><input type = "number" name="y"</p>
            <p>Please enter if currently peak hour i.e Mon-Sun 9-1030am , 6-730pm (1 is Yes , 0 is No)  </p>
            <p><input type = "number" name="congestion"</p>


            <p><input type = "submit" value = "submit"</p>
        </form>
        <p> If the output result is 0 means "No Go", 1 means "GO" condition for EV to approach respective Charge Point</p>
        <p>CART Model Predictor : {{result1}}</p>
        <p>Random Forest Predictor : {{result2}}</p>
        <p>XGBoost Predictor: {{result3}}</p>
    </body>
</html>
